html {
    margin:0;
    padding: 2% 5% 5% 5%;
}
body {
    margin:0;
    padding:0;
	background: #fff;
	font-size: 0.85em;
	line-height: 140%;
	font-family:"Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
    width: 100%;
	color: #757575;
}

a {
    text-decoration: none;
    font-weight: bold;
    padding: 3px 0 4px;
    margin: 0;
    color: black;
}

a:hover {
	color:#747474;
}

h1, h2, h3 {
    color: black;
}

footer,
div.footer {
    margin-top: 4em;
    border-style: solid;
    border-color: #898888;
    border-width: 1px 0 0 0;
    color: #898888;
    font-size: 9px;
    text-align: center;
}

pre {
    background: black;
    color: green;
    padding: 0.5em;
    font-family: Menlo, Monaco, serif;
    overflow: auto;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

p {
    text-indent: 1em;
}

img {

}

div.spare1,
div.spare2,
div.spare3,
div.spare4 {
    display:none;
}

@keyframes bouncy {
	0% {
		transform: scale(1);
	}
	60% {
		transform: scale(1.2);
	}
	85% {
		transform: scale(1);
	}
	90% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.download {
	text-align: center;
	margin-top: 2em;
	margin-bottom: 2em;
	
	transform: scale(1);
	animation: bouncy 20s ease-out 5s 3;
}

.download a,
.download a:visited,
.download a:hover,
.download a:link {
	background: rgb(125, 140, 140);
	border-radius: 5px;
	font-size: 1em;
	padding: .75em 1em;
	color: white;
	margin: 2em;
	box-shadow: 2px 2px 10px #c0c0c0;
}


